{% extends 'index.html' %}

{% block title %} Create a Tag {% endblock %}

{% block content %}
    <h1 class="mb-4">Create a Tag</h1>
    <form action="" method="POST" autocomplete="off">
        <div class="mb-3">
            <label class="form-label" for="tag_name">Name </label>
            <input class="form-control" type="text" name="tag_name" id="tag_name" placeholoder="Enter a name for a tag">
        </div>

        <div>
            <a href="/tags" class="btn btn-outline-primary" role="button">Cancel</a>
            <button class="btn btn-success">Add</button>
        </div>
    </form>
{% endblock %}