{% extends 'index.html' %}

{% block title%}{{tag.name}}{% endblock %}

{% block content %}

<h1><b>{{tag.name}}</b></h1>

<ul>
    {% for post in posts %}
    <li>
        <a href="/posts/{{ post.id }}">{{ post.title }}</a>
    </li>
    {% endfor %}
</ul>


<div>
    <form action="/tags/{{tag.id}}/delete" method="POST">
        <a href="/tags" class="btn btn-outline-secondary" role="button">Tag List</a>
        <a href="/tags/{{tag.id}}/edit" class="btn btn-primary" role="button">Edit</a>
        <button class="btn btn-danger">Delete</button>
    </form>
</div>
{% endblock %}