{% extends 'index.html' %} 

{% block title %} {{ user.full_name }} {% endblock %} 


{% block content%}
<div class="row">
	<div class="col-2">
		<img
			src="{{ user.image_url }} "
			alt="{{ user.full_name }}"
			class="img-thumbnail"
		/>
		<div class="col-12 mt-3">
			<a class="btn btn-outline-secondary" href="/users" role="button">Back to Users</a>
		</div>
	</div>

	<div class="col-4">
		<h1><b>{{ user.full_name }}</b></h1>
			<form action="/users/{{user.id}}/delete" method="POST">
				<a href="/users/{{user.id}}/edit" class="btn btn-primary" role="button">Edit</a>
				<button class="btn btn-danger" role="button">Delete</button>
			</form>
		
			<div class="mt-4">
				<h2>Posts</h2>
				<ul>
					{% for post in posts %}
					<li><a href="/posts/{{post.id}}">{{post.title}}</a></li>
					{% endfor %}
				</ul>

				<form action="/users/{{user.id}}/posts/new">
					<button class="btn btn-primary">Add Post</button>
				</form>
			</div>
	</div>

{% endblock %}
